body {
  background-color: #286DA8;
  padding-top: 70px;
}

#title h1 {
  text-align: center;
  font-family: 'Ewert', cursive;
  color: red;

}
#title {
  display: none;
}

.center {
  text-align: center;
}

.left {
  text-align: center;
}

.left h2{
  font-family: 'Righteous', cursive;
}

.right {
  text-align: center;
}

.right h2{
  font-family: 'Righteous', cursive;
}

#p1flag {
  color:green;
}

#p2flag {
  color:red;
}

h1 {
  font-family: 'Baloo Da', cursive;
  font-size: 23em;
}

#p1Wins {
  display: none;
}

#p2Wins {
  display: none;
}
