body {
  background-color: #286DA8;
  padding-top: 70px;
}

#title h1 {
  text-align: center;
  font-family: Next Custom;
  color: #C42210;
  margin-top: 1em;

}

#title {
  background-color: #286DA8;

}

.center {
  text-align: center;
}

.left {
  text-align: center;
}

.left h2{
  font-family: 'Righteous', cursive;
}

.right {
  text-align: center;
}

.right h2{
  font-family: 'Righteous', cursive;
}

.playerCard br {
  text-align: center;
}

.playerCard h3 {
  font-family: Computerfont;
  font-size: 40px;
  text-align: center;

}

#player1 {
  border-right: 8px;
}

#player2 {

}

#player1 {

}

#player1 {

}
#p1flag {
  color:green;
}

#p2flag {
  color:red;
}

h1 {
  font-family: 'Baloo Da', cursive;
  font-size: 23em;
}

#form_input, #p1Wins, #p2Wins {
  display: none;
}
